<ReceiveMessageResponse>
    <ReceiveMessageResult>
        <Message>
            <MessageId>{{MessageId}}</MessageId>
            <ReceiptHandle>{{ReceiptHandle}}</ReceiptHandle>
            <MD5OfBody>{{MD5OfBody}}</MD5OfBody>
            <Body>{{Body}}</Body>
            {{each}}
            <Attribute>
                <Name>SenderId</Name>
                <Value>195004372649</Value>
            </Attribute>
        </Message>
    </ReceiveMessageResult>
    <ResponseMetadata>
        <RequestId>11111111-1111-1111-1111-111111111111</RequestId>
    </ResponseMetadata>
</ReceiveMessageResponse>
